---
layout: home
---
<div class='container'>
    <div class='jumbotron'><h1 id='demo' class='text-center'></h1></div>

    <h1 id='register'>Register</h1>
        <tito-widget event='{{ site.tito-event }}'></tito-widget>

    <h1 id="sponsors">Our Sponsors</h1>
        <div class='jumbotron'></div>
    <h3>Interested in supporting us? <a href='{{ site.baseurl }}/call-for-sponsors'>Be our sponsor!</a></h3>

    <h1 id='venue'>Venue</h1>
        <p>University of Southern Philippines Foundation, USP Compound, Salinas Drive, Cebu City, Philippines<p>
        <div id='map'></div>
</div>
{% include countdown.html %}
{% include venue-map.html %}
