---
layout: home
---
<div class="container-fluid">
    <img class="img-fluid w-100" src="assets/img/site/WFH_Feels.webp">
</div>
<div class="container pb-4">
    <h1 class="color-pnm-red pt-4" id="about">About Pista ng Mapa</h1>
    <i>Celebrating open (geo)data and maps; fostering the growth of inclusive communities across the
        Philippines.</i><br>
    <h3 class="my-4 color-pnm-blue font-weight-normal">This year, the Pista is going <strong>ONLINE</strong>!</h3>
    <p>
        <strong>Pista ng Mapa</strong> (Festival of Maps) is a free-of-charge outreach activity to generate public
        interest, advocate the use of open (geo) data, promote free and open source software for geospatial (FOSS4G)
        applications, gather and grow enthusiasts, users in the public and private sector, and local communities in the
        Philippines, outside of the capital region Metro Manila.<br><br>It is organized by volunteer advocates from the
        local <strong>OpenStreetMap, OSGeo/FOSS4G, and other map-py communities</strong>.</p>

    <div class="d-flex justify-content-center pt-2">
        <img class="img-fluid post-image img-shadow" alt="2019 Pista ng Mapa group photos"
            src="https://i.imgur.com/ENEh3bP.png" data-toggle="tooltip" data-placement="top"
            title="Pista ng Mapa 2019 group photo (c) Neyzielle Ronnicque Cadiz">
    </div>
    <figcaption class="figure-caption text-center mb-2">Pista ng Mapa 2019 group photo (c) Neyzielle Ronnicque Cadiz
    </figcaption>
    <br>

    <h1 class="color-pnm-blue pt-2" id="cfp">Call for Presentations</h1>
    <p>
        Pista ng Mapa 2020 invites everyone to participate in our conference as a presenter or a session facilitator on
        the topics of #OpenData, mapping, #FOSS4G.
    </p>
    <div class="d-flex justify-content-start pt-2 pb-4"><a
            href="https://docs.google.com/forms/d/e/1FAIpQLSfY1Xso3LnqwQHvCrIhqulUSjzdthegzJ03DAd9AlWRV1f7Zw/viewform"
            target="_blank" class="btn btn-lg bg-color-pnm-blue col-sm-12 col-md-6" style="color: white;" role="button"
            aria-disabled="true"><strong class="font-poppins">Submit a presentation</strong></a></div>

    <h1 class="color-pnm-red pt-4" id="mapa-para-sa-lhat">Mapa Para Sa Lahat</h1>
    <p>
        We want to showcase the resilience and creativity of our map makers in telling stories and conveying information
        through free and open mapping.<br><br>
        We are encouraging everyoone to submit their best cartoraphic work to the competition. The maps can have
        different subjects, forms, and styles. We leave it to the map makers to choose the story they want to tell,
        information they want to convey, or questions they want to answer through their maps.
    </p>
    <div class="d-flex justify-content-start pt-2 pb-4">
        <a href="{{ site.baseurl }}/map-and-poster-making-contest.html"
        target="_blank" class="btn btn-lg bg-color-pnm-red col-sm-12 col-md-6" style="color: white;" role="button"
        aria-disabled="true"><strong class="font-poppins">Learn more</strong></a>
    </div>
    <section id="sponsors" class="mt-4">
        <h1 class="color-pnm-blue">Meet Our Sponsors</h1>
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/site/9222020_sponsors_v2.png">
    </section>

    <hr class="mt-4">


    <!-- <h1 id="register">Register</h1>
    <tito-widget event="{{ site.tito-event }}"></tito-widget> -->
    <!-- {% include countdown.html %}
    {% include venue-map.html %} -->
</div>