<!-- Navigation -->
<div class='container pt-3 pb-2' id='page-top'>
    <nav class='navbar navbar-default navbar-expand-sm navbar-trans d-print'>
        <a class='navbar-brand' style='margin-right: 0px;' href='{{ site.baseurl }}/'>
            <img src='{{ site.baseurl }}/assets/img/logos/pnm-sq.png' class='img-fluid' style='max-height: 72px;'><span class='no-underline-link color-primary-dark pl-1 title-name' style='text-shadow: 0 0 4px #afafaf;'><span class='color-pnm-red'>P</span><span class='color-pnm-blue'>I</span><span class='color-pnm-yellow'>S</span><span class='color-pnm-red'>T</span><span class='color-pnm-blue'>A</span> <span class='color-pnm-muted'>NG</span> <span class='color-tertiary'>MAPA</span></span>
        </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#main-navbar'>
            <span class='navbar-toggler-icon'><i class='fas fa-bars'></i></span>
        </button>
        <div class='collapse navbar-collapse' id='main-navbar'>
            <ul class='navbar-nav ml-auto'>
            </ul>
        </div>
    </nav>
</div>
