<!-- Navigation -->
<div class="container pt-3 pb-2" id="page-top">
    <nav class="navbar navbar-default navbar-expand-lg navbar-trans d-print">
        <a class="navbar-brand" style="margin-right: 0px;" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/logos/brand_logo_1.png" class="img-fluid" style="max-height: 72px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav ml-auto">
                <!-- <li>
                    <a class="nav-link" href="{{ site.baseurl }}/">2020</a>
                </li> -->
                <li>
                    <a class="nav-link" href="{{ site.baseurl }}/#about">about</a>
                </li>
                <!-- <li>
                    <a class="nav-link" href="{{ site.baseurl }}/#register">register</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#">sponsors</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/#sponsors">our sponsors</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/call-for-sponsors">call for sponsors</a>
                    </div>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#">conference</a>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" href="{{ site.baseurl }}/#venue">venue</a> -->
                        <a class="dropdown-item" href="{{ site.baseurl }}/map-and-poster-making-contest.html">map and poster making contest</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/#cfp">call for presentations</a>
                        <!-- <a class="dropdown-item" href="{{ site.baseurl }}/program">program</a> -->
                        <!-- <a class="dropdown-item" href="{{ site.baseurl }}/program#workshops">workshops</a> -->
                        <!-- <a class="dropdown-item" href="{{ site.baseurl }}/program#tapok-tapok">tapok-tapok</a> -->
                        <a class="dropdown-item" href="{{ site.baseurl }}/code-of-conduct">code of conduct</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="{{ site.baseurl }}/#sponsors">sponsors</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#">past pistas</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://pistangmapa.github.io/2019">2019</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
