body {
    font-family: $font-open-sans;
    color: $color-primary;
    font-size: 20px;
    background: url("../img/site/PnM-bg0.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    // background-color: $color-secondary;
}

h1 {
    font-family: $font-mogra;
    color: $color-tertiary;
    font-weight: bold;
    line-height: 1.4;
    text-shadow: 0 0 4px #fbfdb2;
}

h2, h3, h4, h5, h6 {
    // font-family: $font-open-sans;
    font-family: $font-mogra;
    color: $color-primary-dark;
    font-weight: bold;
    line-height: 1.4;
}

p {
    font-family: $font-open-sans;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.7;
}

.small-line-height {
    line-height: 1.5;
}

.no-underline-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.add-shadow {
    text-shadow: 0 0 4px #fbfdb2;
}

#results-container {
    padding: 0;
    li {
        list-style: none;
        text-align: right;
        a {
            @extend .no-underline-link;
            font-family: $font-open-sans;
            &:hover {
                color: $color-primary-dark;
            }
        }
    }
}

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    background-color: $color-primary;
    opacity: 0.5;

    &:hover {
        background-color: $color-primary-dark;
        opacity: 0.5;
    }

}

.list-style-none {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.highlight {
    margin: 0.5rem 0rem;
    padding: 0.25rem 0.5rem;
}

.title-name {
    font-family: $font-mogra;
    font-size: 28px;

    @media (max-width: 540px) {
        font-size: 23px;
    }

    @media (max-width: 320px) {
        font-size: 18px;
    }
}


#submit-pres-btn {
    background-color: rgba(254, 185, 56, 0.5);
    box-shadow: 0 0 8px $color-tertiary;
    // border-color: rgba(254, 185, 56, 0.8);
    // border-width: 2px;
}
