.tito-ticket-name {
    font-size: 24px;
    font-weight: 700;
    color: #CE3704;
}

.tito-wrapper {
    max-width: 1080px;
    border: #CE3704 2px solid;
    background-color: rgba(255,255,255,0.25);
    padding: 20px;
}

.tito-badge-link {
    color: #2e2e2e;
}

.tito-submit {
    background: #CE3704 !important;
    border-color: #CE3704 !important;
    width: 180px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}

.tito-submit:hover {
    background: #2386D2 !important;
    border-color: #2386D2 !important;
}

.tito-ticket-price {
    font-size: 16px;
    margin: 0px 10px;
    text-transform: uppercase !important;
}